{% extends '../adminbase.html' %}
{% load static %}

{% block content %}

<div>

  <a href="{% url 'panel:addberita' %}" class="btn btn-success my-2">Tambah berita</a>
  <div class="card">
        <h5 class="card-header">{{ judul }}</h5>
        <div class="card-body">
            <div class="table-responsive text-nowrap">
                <!-- tabel -->
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Judul</th>
                      <th>Isi Berita</th>
                      <th>Kategori</th>
                      <th>Waktu</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                    {% if berita %}
                      {% for berita in berita %}
                      <tr>
                        <td>
                          <a href="/" target="_blank" style="color: #697a8d;"><strong>{{berita.judul|truncatewords_html:3}}</strong></a>
                        </td>
                        <td>{{berita.body|safe|truncatewords_html:4}}</td>
                        <td>{{berita.category}}</td>
                        <td>{{berita.update}}</td>
                        <td>
                          <a href="{% url 'panel:updateberita' berita.id %}" class="btn btn-success my-2">Edit</a>
                          <a 
                            class="btn btn-danger"
                            style="color: white;"
                            data-bs-toggle="modal" 
                            data-bs-target="#hapus-{{ berita.id }}"              
                          >Hapus</a>
                        </td>
                      </tr>
                      <div class="modal fade" id="hapus-{{ berita.id }}" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                              ></button>
                            </div>
                            <div class="modal-body">
                              <div class="row">
                                <div class="col mb-3">
                                   <center><h5>Hapus <strong>{{ berita.judul }}?</strong></h5></center>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <a href="{% url 'panel:hapusberita' berita.id %}" class="btn btn-danger">Hapus</a>
                              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                Batal
                              </button>
                              
                            </div>
                          </div>
                        </div>
                    </div>
                      {% endfor %}

                    {% else %}
                    <tr>
                      <td>
                        <a href="/" target="_blank" style="color: #697a8d;">---------</a>
                      </td>
                      <td>---------</td>
                      <td>---------</td>
                      <td>---------</td>
                      <td>
                        ---------
                      </td>
                    </tr>

                    {% endif %}
                      
                    
                      
                  </tbody>
                </table>
                <!-- /tabel -->
              </div>
        </div>
    </div>
</div>

{% endblock content %}





