{% extends '../adminbase.html' %}
{% load static %}

{% block content %}

<div>

  
  {% if groupcheck == request.user.groups.all.0 %}
    
  <a href="{% url 'panel:adddata' %}" class="btn btn-success my-2">Tambah data</a>
  {% endif %}
    
  {% if hapus %}
            <div class="alert alert-warning alert-dismissible" role="alert">
              {{ hapus }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
  {% endif %}
  <div class="card">
        <h5 class="card-header">{{ judul }}</h5>
        <div class="card-body">
            <div class="table-responsive text-nowrap">
                <!-- tabel -->
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Kampung</th>
                      <th>Jumlah Penduduk</th>
                      <th>Jumlah Kepala Keluarga</th>
                      <th>Puskesmas</th>
                      <th>Sekolah</th>
                      
                      {% if groupcheck == request.user.groups.all.0 %}
                        
                      <th>Action</th>
                      {% endif %}
                        
                    </tr>
                  </thead>
                  <tbody>
                    
                    {% if data %}
                      
                      
                      {% for data in data %}
                        
                      <tr>
                        <td>
                          <a href="#" style="color: #697a8d;"><strong>{{data.nama_kampung|upper}}</strong></a>
                        </td>
                        <td><strong>{{data.jumlah_jiwa}}</strong></td>
                        <td><strong>{{data.kk}}</strong></td>
                        <td><strong>{{data.puskesmas}}</strong></td>
                        <td><strong>{{data.sekolah}}</strong></td>
                        
                        {% if groupcheck == request.user.groups.all.0 %}
                          
                        <td>
                          <a href="{% url 'panel:updatedata' data.id %}" class="btn btn-success my-2">Edit</a>
                          <a 
                            class="btn btn-danger"
                            style="color: white;"
                            data-bs-toggle="modal" 
                            data-bs-target="#hapus-{{ data.id }}"              
                          >Hapus</a>
                        </td>
                        {% endif %}
                          
                      </tr>
                      
                      {% if groupcheck == request.user.groups.all.0 %}
                        <div class="modal fade" id="hapus-{{ data.id }}" tabindex="-1" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button
                                  type="button"
                                  class="btn-close"
                                  data-bs-dismiss="modal"
                                  aria-label="Close"
                                ></button>
                              </div>
                              <div class="modal-body">
                                <div class="row">
                                  <div class="col mb-3">
                                    <center><h5>Hapus Data <strong>{{data.nama_kampung}}?</strong></h5></center>
                                  </div>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <a href="{% url 'panel:hapusdata' data.id %}" class="btn btn-danger">Hapus</a>
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                  Batal
                                </button>
                                
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endif %}
                        
                    {% endfor %}

                    {% else %}
                    <tr>
                      <td>
                        <a href="/" target="_blank" style="color: #697a8d;">---------</a>
                      </td>
                      <td>---------</td>
                      <td>---------</td>
                      <td>---------</td>
                      <td>
                        ---------
                      </td>
                    </tr>

                    {% endif %}
                      
                    
                      
                  </tbody>
                </table>
                <!-- /tabel -->
              </div>
        </div>
    </div>
</div>

{% endblock content %}





