{% extends '../adminbase.html' %}
{% load widget_tweaks %}

{% block content %}


<div class="row">
    <div class="col-xxl">
          

        <div class="card mb-4">
          
          <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="mb-0">Ubah password</h5>              
          </div>
          <div class="card-body">

            <form id="formAuthentication" class="mb-3" method="post">
              {% csrf_token %}

              
              
              <div class="mb-3 form-password-toggle">
                <label class="form-label" for="password1">Password</label>
                <div class="input-group input-group-merge">
                {% render_field form.new_password1 class="form-control" type="password" id="password1" name="password1" aria-describedby="password" placeholder="Masukan password baru, minimal 8 karakter dan mengandung angka" %}
                  <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                </div>
              </div>

              <div class="mb-3 form-password-toggle">
                <label class="form-label" for="password2">Konfirmasi Password</label>
                <div class="input-group input-group-merge">
                {% render_field form.new_password2 class="form-control" type="password" id="password2" name="password2" aria-describedby="password" placeholder="Ulangi password baru anda seperti di atas" %}
                  <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                </div>
              </div>


              <div class="row justify-content-start">
                <div class="col-sm-10">
                  <input class="btn btn-success" type="submit" value="Simpan">
                  <a href= "{% url 'panel:user' %}"  class="btn btn-danger">Kembali</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
</div>


{% endblock %}