{% load static %}

<div class="container-xxl py-5">
        <div class="container">
            <div class="three">
                <h1>Kabar Ninati</h1>
            </div>

        <div class="row g-4 justify-content-center">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light overflow-hidden h-100">
                  <img class="img-fluid" src="{% static 'img/service-1.jpg' %}" alt="" />
                  <div class="service-text position-relative  h-100 p-4">
                    <h5 class="mb-3">Judul Berita</h5>
                    <p>12/03/2021</p>
                    <p>
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto adipisci suscipit blanditiis repellat, consectetur laborum?
                    </p>
                    <a class="small small-color" href=""
                      >Selengkapnya<i class="fa fa-arrow-right ms-3"></i
                    ></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light overflow-hidden h-100">
                  <img class="img-fluid" src="{% static 'img/service-1.jpg' %}" alt="" />
                  <div class="service-text position-relative  h-100 p-4">
                    <h5 class="mb-3">Judul Berita</h5>
                    <p>12/03/2021</p>
                    <p>
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto adipisci suscipit blanditiis repellat, consectetur laborum?
                    </p>
                    <a class="small small-color" href=""
                      >Selengkapnya<i class="fa fa-arrow-right ms-3"></i
                    ></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light overflow-hidden h-100">
                  <img class="img-fluid" src="{% static 'img/service-1.jpg' %}" alt="" />
                  <div class="service-text position-relative  h-100 p-4">
                    <h5 class="mb-3">Judul Berita</h5>
                    <p>12/03/2021</p>
                    <p>
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto adipisci suscipit blanditiis repellat, consectetur laborum?
                    </p>
                    <a class="small small-color" href=""
                      >Selengkapnya<i class="fa fa-arrow-right ms-3"></i
                    ></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light overflow-hidden h-100">
                  <img class="img-fluid" src="{% static 'img/service-1.jpg' %}" alt="" />
                  <div class="service-text position-relative  h-100 p-4">
                    <h5 class="mb-3">Judul Berita</h5>
                    <p>12/03/2021</p>
                    <p>
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto adipisci suscipit blanditiis repellat, consectetur laborum?
                    </p>
                    <a class="small small-color" href=""
                      >Selengkapnya<i class="fa fa-arrow-right ms-3"></i
                    ></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light overflow-hidden h-100">
                  <img class="img-fluid" src="{% static 'img/service-1.jpg' %}" alt="" />
                  <div class="service-text position-relative  h-100 p-4">
                    <h5 class="mb-3">Judul Berita</h5>
                    <p>12/03/2021</p>
                    <p>
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto adipisci suscipit blanditiis repellat, consectetur laborum?
                    </p>
                    <a class="small small-color" href=""
                      >Selengkapnya<i class="fa fa-arrow-right ms-3"></i
                    ></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light overflow-hidden h-100">
                  <img class="img-fluid" src="{% static 'img/service-1.jpg' %}" alt="" />
                  <div class="service-text position-relative  h-100 p-4">
                    <h5 class="mb-3">Judul Berita</h5>
                    <p>12/03/2021</p>
                    <p>
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto adipisci suscipit blanditiis repellat, consectetur laborum?
                    </p>
                    <a class="small small-color" href=""
                      >Selengkapnya<i class="fa fa-arrow-right ms-3"></i
                    ></a>
                  </div>
                </div>
            </div>

            
        </div>
        <div class="py-5">

            <a href="#" class="btn btn-primary py-3 px-5">Berita lainnya</a>
        </div>
    </div>
</div>