{% load static %}

<div class="container-xxl py-5">
        <div class="container">
            <div class="three">
                <h1>Kabar Ninati</h1>
            </div>

        <div class="row g-4 justify-content-center">

          
          {% if berita %}
          {% for berita in berita %}
            
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="service-item bg-light overflow-hidden h-100">
                
                {% if berita.gambar %}
                <img class="img-fluid" src="{{ berita.gambar.url }}" alt="" />
                {% else %}
                <img class="img-fluid" src="{% static 'img/logo.png' %}" alt="" />
                {% endif %}
                  
                <div class="service-text position-relative  h-100 p-4">
                  <h5 class="mb-3">{{berita.judul}}</h5>

                  <p>{{berita.update|date:"d/m/Y"}}</p>
                  <p>
                    {{berita.body|safe|truncatewords_html:15}}
                  </p>
                  <a class="small small-color" href="#"
                    >Selengkapnya<i class="fa fa-arrow-right ms-3"></i
                  ></a>
                </div>
              </div>
          </div>
          {% endfor %}
          {% else %}
          <p><strong>Belum ada data berita yang di posting</strong></p>
          {% endif %} 

            
        </div>
        
        {% if berita %}
        <div class="py-5">

          <a href="#" class="btn btn-primary py-3 px-5">Berita lainnya</a>
      </div>
        {% endif %}
          
        
    </div>
</div>


