{% load static %}

<!-- Navbar Start -->
<nav
class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5 py-lg-0"
>



  <a href="#" >
    <img src="{% static 'img/logo.png' %}" class="logo-nav">
    <!-- <h1 class="m-0">
      <i class="fa fa-building text-primary me-3"></i>NINATI
    </h1> -->
  </a>


<button
  type="button"
  class="navbar-toggler"
  data-bs-toggle="collapse"
  data-bs-target="#navbarCollapse"
>
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarCollapse">
  <div class="navbar-nav ms-auto py-3 py-lg-0">
    <a href="{% url 'index' %}" {% if request.path == "/" %} class="nav-item nav-link active" {% else %} class="nav-item nav-link" {% endif %}>Home</a>

    <div class="nav-item dropdown">
      <a
        href="#"
        {% if request.path == "/sejarah/" %}class="nav-link dropdown-toggle active"{% elif request.path == "/geografis/" %}class="nav-link dropdown-toggle active" {% else %}class="nav-link dropdown-toggle"{% endif %}
        data-bs-toggle="dropdown"
        >Distrik</a
      >
      <div class="dropdown-menu bg-light m-0">
        <a href="{% url 'sejarah:index' %}" class="dropdown-item">Sejarah Distrik</a>
        <a href="{% url 'geografis:index' %}" class="dropdown-item">Geografis</a>
        
      </div>
    </div>

    <div class="nav-item dropdown">
      <a
        href="#"
        {% if request.path == "/pemerintah/" %}class="nav-link dropdown-toggle active"{% elif request.path == "/pemerintah/organisasi/" %}class="nav-link dropdown-toggle active" {% else %}class="nav-link dropdown-toggle"{% endif %}
        data-bs-toggle="dropdown"
        >Pemerintahan</a
      >
      <div class="dropdown-menu bg-light m-0">
        <a href="{% url 'pemerintah:index' %}" class="dropdown-item">Pemerintah Distrik</a>
        <a href="{% url 'pemerintah:organisasi' %}" class="dropdown-item">Strukstur Organisasi</a>
        
      </div>
    </div>

    <a href="{% url 'statistik:index' %}" {% if request.path == "/statistik/" %} class="nav-item nav-link active" {% else %} class="nav-item nav-link" {% endif %}>Statistik</a>

    <div class="nav-item dropdown">
      <a
        href="#"
        
        {% if request.path == "/administrasi/" %}class="nav-link dropdown-toggle active" {% else %} class="nav-link dropdown-toggle" {% endif %}
      
        data-bs-toggle="dropdown"
        >Layanan</a
      >
      <div class="dropdown-menu bg-light m-0">
        <a href="{% url 'administrasi:index' %}" class="dropdown-item">Administrasi</a>
      </div>
    </div>
    <a href="contact.html" class="nav-item nav-link">Berita</a>
    <a href="contact.html" class="nav-item nav-link">Galeri</a>
  </div>
</div>
</nav>
<!-- Navbar End -->